.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.search {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.input {
  margin: 30px 0;
}

.isLoading {
  animation: spin 2s linear infinite;
  box-sizing: border-box;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #ee1515; /* Red */
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 60px auto;
}

.sprites {
  margin: 30px auto;
  display: inline-block;
  width: 300px;
}

.type {
  margin-top: 30px;
  margin: 0 auto;
}

.name {
  margin-top: 30px;
  margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
